@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
  font-family: "Open-Sans", sans-serif;
  letter-spacing: 2px;
  padding-top: 100px;
}

.section-title{
    
    color: #6cba1f;
    text-align: center;
    font-size: 4vw;
}

/*---- Header----*/

.header {
  margin: 0;
}

.bg-nav {
  background-color: rgba(108, 186, 31, 0.95);
}

.logo{
    width:80px;
    height:80px;
}

.navbar-text {
  color: #ffdc14;
  text-transform: uppercase;
  font-size: 4vw;
}

.navbar-toggler {
  color: #f8e238;
  border-color: #f8e238;
}

.nav-link {
  color: #f8e238;
}

.nav-link:hover {
  color: #dcf406b9;
  background: transparent;
}

/*---- Hero Image ----*/

.container-hero-image {
  width: 100%;
  padding: 0;
}

.hero-image {
  width: 100%;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  object-position: bottom;
}

.hero-text {
  font-size: 4vw;
  position: absolute;
  padding-top: 25px;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #4a4a4a;
}

.hero-text h3 {
  font-size: 3.5vw;
}

.hero-text p {
  font-size: 2.5vw;
}



/*---- About Section ----*/



.flags-image{
    width: 100%;
    height: auto;
}

.card-text-about{
    padding: 10px;
    color: #4a4a4a;
}

.card{
    border: none;
    margin-bottom: 20px;
    color: #4a4a4a; 
}

.card-margin{
    margin-left: 5px;
    margin-right: 5px;
}


/*---- Gallery Section ----*/

.row-gallery {
  display: flex;
  margin: 0 20px 0 20px;
}

.column-gallery {
  flex: 33.33%;
  padding: 5px;
}

.zoom {
  transition: transform .2s; 
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.25);
}

/*---- Contact ----*/

.btn-color{
    color: #f8e238;
    background-color: rgba(108, 186, 31, 0.95);
}

.btn-color:hover {
  color: #dcf406b9;
}

.form-contact:hover{
    border-color: #dcf406b9; 
}

/*---- Styling found on Stackoverflow https://stackoverflow.com/questions/14820952/change-bootstrap-input-focus-blue-glow ----*/
.form-control:focus {
  border-color: #6cba1f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 8px 8px  rgba(108, 186, 31, 1);
}

.contact{
    padding: 10px;
}

/*---- Footer ----*/

.bg-footer{
  background-color: rgba(108, 186, 31, 0.95);
}



.footer-text{
padding-top: 20px;
  color: #ffdc14;
  
  
  
}

.footer-text p{
    padding-left: 30px;
    font-size: 14px;
    
}

.footer-icons{
padding-right: 30px;
    font-size: 20px;
    text-align: right;
}

.footer-icons a {

     color: #ffdc14;
    
}



.footer-icons a:hover {
  color: #dcf406b9;
  background: transparent;
}


/*---- Media Queries ----*/
@media (max-width: 768px) {
  .navbar-text {
    text-align: left;
  }

  .logo{
    width: 40px;
    height: 40px;
}

.column-gallery {
  flex: 50%;
  padding: 5px;
}

  /* https://stackoverflow.com/questions/32392383/how-to-center-text-responsive-in-image-using-css-html
  Modified this css found on Stackoverflow to help with the responsiveness of the text on smaller screens*/
  .hero-text {
    font-size: 4vw;
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
  }
}

@media (max-width: 576px){
    .column-gallery {
  flex: 100%;
  padding: 5px;
}
}